//! **************************************************************************
// Written by: Map P.68d on Fri Nov 16 20:29:09 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk_100mhz" LOCATE = SITE "V10" LEVEL 1;
COMP "vgablue<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "vgablue<2>" LOCATE = SITE "T7" LEVEL 1;
COMP "ja<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "ja<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "ja<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "ja<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "jb<0>" LOCATE = SITE "K2" LEVEL 1;
COMP "ja<4>" LOCATE = SITE "M10" LEVEL 1;
COMP "jb<1>" LOCATE = SITE "K1" LEVEL 1;
COMP "ja<5>" LOCATE = SITE "N9" LEVEL 1;
COMP "jb<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "ja<6>" LOCATE = SITE "U11" LEVEL 1;
COMP "jb<3>" LOCATE = SITE "L3" LEVEL 1;
COMP "ja<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "jc<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "jb<4>" LOCATE = SITE "J3" LEVEL 1;
COMP "jc<1>" LOCATE = SITE "L7" LEVEL 1;
COMP "jb<5>" LOCATE = SITE "J1" LEVEL 1;
COMP "jc<2>" LOCATE = SITE "K6" LEVEL 1;
COMP "jb<6>" LOCATE = SITE "K3" LEVEL 1;
COMP "jc<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "jb<7>" LOCATE = SITE "K5" LEVEL 1;
COMP "jc<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "jd<0>" LOCATE = SITE "G11" LEVEL 1;
COMP "jc<5>" LOCATE = SITE "J7" LEVEL 1;
COMP "jd<1>" LOCATE = SITE "F10" LEVEL 1;
COMP "jc<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "jd<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "jc<7>" LOCATE = SITE "F2" LEVEL 1;
COMP "jd<3>" LOCATE = SITE "E11" LEVEL 1;
COMP "jd<4>" LOCATE = SITE "D12" LEVEL 1;
COMP "jd<5>" LOCATE = SITE "C12" LEVEL 1;
COMP "jd<6>" LOCATE = SITE "F12" LEVEL 1;
COMP "jd<7>" LOCATE = SITE "E12" LEVEL 1;
COMP "btn_enter" LOCATE = SITE "B8" LEVEL 1;
COMP "btn_right" LOCATE = SITE "D9" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "vgagreen<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "vgagreen<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "vgagreen<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "vgared<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vgared<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vgared<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "dig<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "dig<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "dig<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "dig<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "btn_left" LOCATE = SITE "C4" LEVEL 1;
COMP "btn_down" LOCATE = SITE "C9" LEVEL 1;
COMP "btn_up" LOCATE = SITE "A8" LEVEL 1;
COMP "exp_io_n<10>" LOCATE = SITE "A10" LEVEL 1;
COMP "exp_io_n<11>" LOCATE = SITE "F9" LEVEL 1;
COMP "exp_io_n<12>" LOCATE = SITE "A11" LEVEL 1;
COMP "exp_io_n<13>" LOCATE = SITE "A12" LEVEL 1;
COMP "exp_io_n<14>" LOCATE = SITE "A13" LEVEL 1;
COMP "exp_io_n<15>" LOCATE = SITE "A14" LEVEL 1;
COMP "exp_io_n<16>" LOCATE = SITE "E13" LEVEL 1;
COMP "exp_io_n<17>" LOCATE = SITE "A15" LEVEL 1;
COMP "exp_io_n<18>" LOCATE = SITE "C14" LEVEL 1;
COMP "exp_io_n<19>" LOCATE = SITE "A16" LEVEL 1;
COMP "exp_io_p<10>" LOCATE = SITE "C10" LEVEL 1;
COMP "exp_io_p<11>" LOCATE = SITE "G9" LEVEL 1;
COMP "exp_io_p<12>" LOCATE = SITE "B11" LEVEL 1;
COMP "exp_io_p<13>" LOCATE = SITE "B12" LEVEL 1;
COMP "exp_io_p<14>" LOCATE = SITE "C13" LEVEL 1;
COMP "exp_io_p<15>" LOCATE = SITE "B14" LEVEL 1;
COMP "exp_io_p<16>" LOCATE = SITE "F13" LEVEL 1;
COMP "exp_io_p<17>" LOCATE = SITE "C15" LEVEL 1;
COMP "exp_io_p<18>" LOCATE = SITE "D14" LEVEL 1;
COMP "exp_io_p<19>" LOCATE = SITE "B16" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "exp_io_n<0>" LOCATE = SITE "A2" LEVEL 1;
COMP "exp_io_n<1>" LOCATE = SITE "C6" LEVEL 1;
COMP "exp_io_n<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "exp_io_n<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "exp_io_n<4>" LOCATE = SITE "A5" LEVEL 1;
COMP "exp_io_n<5>" LOCATE = SITE "A6" LEVEL 1;
COMP "exp_io_n<6>" LOCATE = SITE "A7" LEVEL 1;
COMP "exp_io_n<7>" LOCATE = SITE "C8" LEVEL 1;
COMP "exp_io_p<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "exp_io_n<8>" LOCATE = SITE "A9" LEVEL 1;
COMP "exp_io_p<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "exp_io_n<9>" LOCATE = SITE "C11" LEVEL 1;
COMP "exp_io_p<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "exp_io_p<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "exp_io_p<4>" LOCATE = SITE "C5" LEVEL 1;
COMP "exp_io_p<5>" LOCATE = SITE "B6" LEVEL 1;
COMP "exp_io_p<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "exp_io_p<7>" LOCATE = SITE "D8" LEVEL 1;
COMP "exp_io_p<8>" LOCATE = SITE "B9" LEVEL 1;
COMP "exp_io_p<9>" LOCATE = SITE "D11" LEVEL 1;
SCHEMATIC END;

